* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Arial", sans-serif;
}

h1 {
  font-size: 2rem;
  color: #000000;
}

.c-btn {
  background-color: transparent;
  border: none;
  padding: 1rem;
  font-size: 1.25rem;
  cursor: pointer;
}
.c-btn--progress {
  position: relative;
  background-color: #4c00ff;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 0.5rem solid #ffffff;
  transition: background-color 0.3s ease;
}
.c-btn--progress:hover {
  background-color: rgb(60.8, 0, 204);
}
.c-btn--progress::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: conic-gradient(#4c00ff 0% var(--progress, 0%), #e0e0e0 var(--progress, 0%) 100%);
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.c-btn--progress img {
  width: 1.5rem;
  height: 1.5rem;
}

.c-onboarding__background {
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/images/bg-logo.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-onboarding__mobile-screen {
  max-width: 430px;
  max-height: 932px;
  width: 41.5384615385vh;
  height: 95%;
  aspect-ratio: 6/13;
  background-color: #ffffff;
  border-radius: 3rem;
  border: 0.5rem solid #000000;
  overflow: hidden;
  position: relative;
}
.c-onboarding__content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 2fr 3fr;
}
.c-onboarding__header {
  height: 4.5rem;
  position: relative;
  width: 100%;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  border-radius: 2rem;
  background-color: #ffffff;
  grid-row: 1/2;
}
.c-onboarding__animation-container {
  grid-row: 2/3;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding-top: 1rem;
}
.c-onboarding__animation-container svg {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.c-onboarding__footer {
  z-index: 1;
  grid-row: 3/4;
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
.c-onboarding__text-container {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  align-items: center;
}
.c-onboarding__buttons-container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.c-onboarding__description {
  font-size: 1.25rem;
  color: #515151;
  width: 90%;
}
.c-onboarding__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.u-hide {
  display: none;
}

.u-invisible {
  visibility: hidden;
}