$color-primary: #4c00ff;
$color-secondary: #ff5252;
$color-white: #ffffff;
$color-black: #000000;
$color-gray: #515151;
$color-light-gray: #e0e0e0;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Arial", sans-serif;
}

h1 {
  font-size: 2rem;
  color: $color-black;
}

.c-btn {
  background-color: transparent;
  border: none;
  padding: 1rem;
  font-size: 1.25rem;
  cursor: pointer;

  &--progress {
    position: relative;
    background-color: $color-primary;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 0.5rem solid $color-white;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($color-primary, 10%);
    }

    &::after {
      content: "";
      z-index: -1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: conic-gradient($color-primary 0% 0%, $color-light-gray 0% 100%);
      width: 7.5rem;
      height: 7.5rem;
      border-radius: 50%;
    }

    img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.c-onboarding {
  &__background {
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/images/bg-logo.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__mobile-screen {
    max-width: 430px;
    max-height: 932px;
    width: calc(90vh / 13 * 6);
    height: 95%;
    aspect-ratio: 6 / 13;
    background-color: $color-white;
    border-radius: 3rem;
    border: 0.5rem solid $color-black;
    overflow: hidden;
    position: relative;
  }

  &__content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 2fr 3fr;
  }

  &__header {
    height: 4.5rem;
    position: relative;
    width: 100%;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    border-radius: 2rem;
    background-color: $color-white;
    grid-row: 1 / 2;
  }

  &__animation-container {
    grid-row: 2 / 3;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-top: 2rem;

    svg {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }
  }

  &__footer {
    z-index: 1;
    grid-row: 3 / 4;
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
  }

  &__text-container {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    align-items: center;
  }

  &__buttons-container {
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }

  &__description {
    font-size: 1.25rem;
    color: $color-gray;
    width: 90%;
  }

  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.u-hide {
  display: none;
}

.u-invisible {
  visibility: hidden;
}
